.Dashboard_box{
    width:100px;
    color: red;
    height: 100px;
    border: 2px solid gray;
    margin-left: 200px;
    background-color: gray
}
.Dashboard_box2{
    width:100px;
    height: 100px;
    border: 2px solid gray;
    margin-left: 600px;
    /*flex-flow: row;     */
    flex: auto;
    color: red;
    
    /*float: left;*/
    background-color: maroon;
    margin-top: -100px;

}
.Dashboard_box3{
    width:100px;
    color: red;
    height: 100px;
    border: 2px solid gray;
    margin-right: 220px;
    
    float: right;
    background-color: gray;
    margin-top: -100px;

}