body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  background-color:lightseagreen;
  color: white;
  
}

.input{
  width:400px;
  margin-left: auto;
  margin-right: auto;
}
.btngroup{
  
  margin-top: -30px;
 
}
.btun{ 
    float: left;
     margin-left: 680px;
      margin-top: -50px;
    }
.btun1{ 
    float: left;
       
       margin-left: 600px;
       margin-top: -50px;
       z-index: 10000;
       clear: both
       /*/order-radius: 10px;*/
}
.form{
   width:300px;
   /*border: 2px solid gray;*/
    margin-left: auto;
    margin-right: auto;
}